name: Terraform Infra Deploy

on: 
  workflow_dispatch:
    inputs:
      environment:
        description: "Deploy to Dev."
        required: true
        default: Dev

jobs:
  terraform:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3

    - uses: hashicorp/setup-terraform@v2

    - name: Configure AWS
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: us-east-1

    - name: Terraform init
      run: terraform init
      working-directory: terraform

      
   # - name: Terraform apply 
   #   run: terraform apply -auto-approve
   #   working-directory: terraform

    - name: Terraform Destroy 
      run: terraform destroy -auto-approve
      working-directory: terraform   
